In [1]:
import yfinance as yf

In [3]:
ticker = 'AAPL'
yf.Ticker(ticker).history(period='1d', interval='15m').reset_index()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-02-02 09:30:00-05:00,148.899994,149.500000,148.720001,149.070007,10714078,0.0,0.0
1,2023-02-02 09:45:00-05:00,149.070007,149.509995,148.350006,148.589996,4079203,0.0,0.0
2,2023-02-02 10:00:00-05:00,148.588806,149.039993,148.169998,148.619995,3378684,0.0,0.0
3,2023-02-02 10:15:00-05:00,148.639999,149.059998,148.340302,148.970001,2692928,0.0,0.0
4,2023-02-02 10:30:00-05:00,148.979996,150.000000,148.940002,149.990005,3698379,0.0,0.0
5,2023-02-02 10:45:00-05:00,150.000000,150.500000,149.929993,150.150803,4721666,0.0,0.0
6,2023-02-02 11:00:00-05:00,150.160004,150.199997,149.669998,149.854996,2702787,0.0,0.0
7,2023-02-02 11:15:00-05:00,149.850006,150.089996,149.570007,150.033997,7713839,0.0,0.0
8,2023-02-02 11:30:00-05:00,150.039993,150.440002,150.020004,150.089996,2522273,0.0,0.0
9,2023-02-02 11:45:00-05:00,150.095001,150.130798,149.720001,149.759995,2027809,0.0,0.0
10,2023-02-02 12:00:00-05:00,149.770004,150.005005,149.429993,149.934998,2537059,0.0,0.0
11,2023-02-02 12:15:00-05:00,149.940002,150.089996,149.800003,149.915604,1696414,0.0,0.0
12,2023-02-02 12:30:00-05:00,149.919998,150.279999,149.630005,149.850006,1868205,0.0,0.0
13,2023-02-02 12:45:00-05:00,149.860001,149.960007,149.679993,149.919998,1898592,0.0,0.0
14,2023-02-02 13:00:00-05:00,149.929993,150.304993,149.919998,150.195007,2277033,0.0,0.0
15,2023-02-02 13:15:00-05:00,150.195007,150.244995,149.899994,149.949997,1921864,0.0,0.0
16,2023-02-02 13:30:00-05:00,149.949997,150.470001,149.912704,150.445007,2142322,0.0,0.0
17,2023-02-02 13:45:00-05:00,150.440002,150.990005,150.345001,150.955002,2632167,0.0,0.0
18,2023-02-02 14:00:00-05:00,150.955002,151.179993,150.300003,150.365005,2829389,0.0,0.0
19,2023-02-02 14:15:00-05:00,150.368500,150.524994,150.119995,150.229996,2139853,0.0,0.0
20,2023-02-02 14:30:00-05:00,150.229996,150.309998,149.289993,149.470001,3075035,0.0,0.0
21,2023-02-02 14:45:00-05:00,149.469894,149.690002,148.949997,149.040894,2965839,0.0,0.0
22,2023-02-02 15:00:00-05:00,149.044998,149.389999,148.720001,149.259995,3521230,0.0,0.0
23,2023-02-02 15:15:00-05:00,149.270004,149.759995,149.160004,149.595001,3093067,0.0,0.0
24,2023-02-02 15:30:00-05:00,149.595001,150.320007,149.595001,149.660004,4031892,0.0,0.0
25,2023-02-02 15:45:00-05:00,149.669998,150.919998,149.460007,150.910004,6968641,0.0,0.0
26,2023-02-02 16:00:00-05:00,150.820007,150.820007,150.820007,150.820007,0,0.0,0.0